# Basic SQL

Neste primeiro modulo, iremos abordar alguns comandos basicos do SQL. Entre eles:
- SELECT;
- COUNT; 
- DISTINCT; 
- LIMIT;
- INSERT;
- UPTADE;
- DELETE.

<hr>

### SELECT

O comando SELECT é do tipo Data Manipulation Language (DML) usado para selecionar e visualizar dados de uma tabela.
Se fizermos a seguinte sintax: __SELECT__ * from <nome_tabela>  ---> Estamos selecionando todas as colunas de uma tabela em questão. Nesse caso, ou passamos o simbolo "*" para dizer que queremos todas as colunas da tabela, ou entao informamos o nome das colunas desejadas. O "from" eh usado para informarmos de qual base de dados estamos fazendo essa selecao.

Porem, podemos querer fazer algo mais elaborado. Neste caso, podemos usar a clausula "WHERE", que informamos uma condicao e entao os dados que corresponderem a essa condicao serao retornados. Vamos a um exemplo: <br><br>
__SELECT__ book_id, title __FROM__ Book <br>
    __WHERE__ book_id="B1"     ---> Essa consulta seleciona as colunas book_id e title, da tabela Book, e retorna os livros que tenham seu book_id iguais a B1. <br>

<hr>

### COUNT, DISTINCT, LIMIT

O comando COUNT eh uma funcao que retorna o numero de linhas que correspondem a uma condicao definida por nos. Por exemplo, obter o numero total de linhas em uma tabela: __SELECT COUNT(*)__ FROM <table_name> <br>
Outro exemplo. Agora queremos obter o numero de medalhas que o Canada recebeu: <br>
SELECT __COUNT(country)__ FROM medals <br>
WHERE country = "Canada"
<br> <br>

O comando DISTINCT eh usado para remover valores duplicado de um conjunto. Por exemplo, se quiser obter apenas valores unicos em uma coluna, usamos o seguinte formato: <br>
SELEC __DISTINCT__ <column_name> FROM <table_name> <br><br>
No exemplo das medalhas, um pais pode ter recebido medalha de ouro mais de uma vez, mas queremos saber apenas os paises que tiveram alguma medalha de ouro conquistada. Para isso, usamos o seguinte formato: <br>
SELECT __DISTINCT__ country FROM medals <br>
WHERE medaltype = "Gold" <br> <br>

O comando LIMIT eh usado para limitar o numero de linhas retornadas da tabela. Por exemplo, podemos querer apenas as primeiras 10 linhas de uma tabela. Para isso, usamos o seguinte formato: <br>
SELECT * FROM <table_name> __LIMIT__ 10   ---> Estamos obtendo as 10 primeiras linhas da tabela.

<hr>

### INSERT

O INSERT eh usado para popular a tabela com dados. <br>
A sintaxe para usar o INSERT eh a que segue: <br> <br>
__INSERT INTO__ <table_name> <br>
<(coluna1, coluna2, coluna3)> <br>
__VALUES__ <("valor1", "valor2", "valor3")> <br> <br>

<hr>

### UPDATE

Apos criarmos um tabela, e a preenchermos com alguns dados, podemos ter o desejo e a necessidade de atualizar ou deletar dados desta tabela. <br> <br>

__UPDATE__: Iremos usar o UPDATE para atualizar os dados na tabela desejada. A sintaxe eh a que segue: <br>
__UPDATE__ <table_name> __SET__ <column_name> = valor <br>
__WHERE__ condicao <br> <br>

Caso a clausula _WHERE_ nao seja especificada, todas as colunas serao atualizadas!